<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <div class="row">
      <% usersWithSecrets.forEach(function(user){ %>
      <% user.secrets.forEach(function(secret){ %>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <p class="secret-text card-text"><%= secret.secret %></p>
          </div>
        </div>
      </div>
      <% }); %>
      <% }); %>
    </div>

    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-secondary btn-lg" href="/submit" role="button">Submit a Secret</a>
    <a class="btn btn-light btn-lg" href="/yourSecrets" role="button">Your Secrets</a>
  </div>
</div>

<%- include('partials/footer') %>
