<%- include('partials/header') %>
<div class="jumbotron text-center">

  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Your Secrets!</h1>
    <%if(yourSecrets.length==0){%>
    <h3>You havn't shared any secrets</h3>
    <h4>Share them now anonymously</h4>
    <%}%>

    <div class="row">
  <% yourSecrets.forEach(function(secret){ %>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form class="" action="/delete" method="post">
            <input type="checkbox" onchange="this.form.submit()" name="checkBox" value="<%= secret._id %>">
            <p class="secret-text"><%= secret.secret %></p>
          </form>
        </div>
      </div>
    </div>
    <% }); %>
  </div>

  <%if(yourSecrets.length!=0){%>
  <p>Click on checkBox above the secret to delete that secret</p>
  <%}%>
  <a class="btn btn-secondary btn-md" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
